src/main/mule/sample-appln.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="29ad2eea-b4c8-4ae6-b2b2-972797fab300">
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	
	<flow name="sample-applnFlow" >
	<http:listener config-ref="HTTP_Listener_config"  path="/{parmname}"  allowedMethods="GET"  doc:name="HTTP" />
	<set-payload value="#[message.inboundProperties.'http.uri.params'.parmname]" doc:name="Set Payload" doc:id="fb2f41c8-beab-4a7f-9488-e2d20f7b7baf" />
	
	</flow>
	
</mule>
